In [2]:
%load_ext autoreload
%autoreload 2

import os
import sys
import time
import pickle
import napari
import numpy as np
import pandas as pd

from skimage.io import imread

import btrack

sys.path.append('../libraries')
import input_functions as inp_f

In [7]:
info_file_path = r'Z:\Sonja\210910_endo_meso_52\210910_endo_meso_52_info.txt'

In [12]:
# read the file
info_file = open(info_file_path, 'r')
info_lines = info_file.readlines()
info_file.close()

# read info about the data frame
exp_dir,df_name = inp_f.read_df_info(info_lines)

df_dir = os.path.join(exp_dir,'df')
save_dir = df_dir

frames_to_exclude = inp_f.read_frames_2_exclude(info_lines)

modelPath = os.path.join(exp_dir,'code','libraries','cell_config.json')

In [13]:
frames_to_exclude

'[288]'

## Read in the data frame objects data

In [11]:
data_df = pd.read_pickle(os.path.join(df_dir,df_name))

In [12]:
data_df.head()

,label,area,centroid-0,centroid-1,orientation,major_axis_length,minor_axis_length,bbox-0,bbox-1,bbox-2,...,mean_intensity-2_nuc,file,t,centroid-0_ring,centroid-1_ring,mean_intensity-0_ring,mean_intensity-1_ring,mean_intensity-2_ring,size_x,size_y
0,3,816,22.424020,31.230392,-1.161169,38.170831,27.296608,8,14,38,...,388.653186,20210414imagingmjxy03c1_000_label.png,0,22.420195,31.281759,10.226384,107.263844,498.511401,1946,1946
1,4,940,23.018085,637.489362,-0.895162,35.952933,33.524979,6,620,42,...,467.597872,20210414imagingmjxy03c1_000_label.png,0,22.642105,634.987719,12.205263,108.236842,602.133333,1946,1946
2,5,1074,25.972998,317.390130,1.050032,41.974158,32.628584,9,298,44,...,671.662011,20210414imagingmjxy03c1_000_label.png,0,25.925000,317.382353,15.017647,109.533824,898.970588,1946,1946
3,6,480,34.918750,671.750000,0.588385,31.032800,19.765957,22,660,50,...,1225.706250,20210414imagingmjxy03c1_000_label.png,0,36.509390,674.150235,18.502347,110.899061,536.612676,1946,1946
4,7,666,37.575075,1267.582583,0.509866,33.703794,25.211162,22,1255,54,...,480.202703,20210414imagingmjxy03c1_000_label.png,0,37.488414,1267.584670,9.645276,106.761141,509.074866,1946,1946

In [13]:
# create a structure suitable for tracking

objects_gen = data_df.loc[:,['label','area','centroid-1','centroid-0','major_axis_length','minor_axis_length','t']]

objects_gen.columns=['ID', 'area', 'x', 'y', 'major_axis_length','minor_axis_length','t']
objects_gen['z']=0
objects_gen['label']=5
objects_gen['prob']=0
objects_gen['dummy']=False
objects_gen['states']=0

objects_gen.head()

,ID,area,x,y,major_axis_length,minor_axis_length,t,z,label,prob,dummy,states
0,3,816,31.230392,22.424020,38.170831,27.296608,0,0,5,0,False,0
1,4,940,637.489362,23.018085,35.952933,33.524979,0,0,5,0,False,0
2,5,1074,317.390130,25.972998,41.974158,32.628584,0,0,5,0,False,0
3,6,480,671.750000,34.918750,31.032800,19.765957,0,0,5,0,False,0
4,7,666,1267.582583,37.575075,33.703794,25.211162,0,0,5,0,False,0

## Tracking proper

In [14]:
# initialise a tracker session using a context manager
with btrack.BayesianTracker() as tracker:

    # configure the tracker using a config file
    tracker.configure_from_file(modelPath)

    # append the objects to be tracked
    tracker.append(objects_gen)

    # set the volume (Z axis volume is set very large for 2D data)
    tracker.volume=((0, data_df.size_x[0]), (0, data_df.size_y[0]), (-1e5, 1e5))

    # track them (in interactive mode)
    tracker.track_interactive(step_size=100)

    # generate hypotheses and run the global optimizer
    tracker.optimize()

    # get the tracks as a python list
    tracks = tracker.tracks

    # optional: get the data in a format for napari
    data, properties, graph = tracker.to_napari(ndim=2)
    # pickle Napari data
    with open(os.path.join(df_dir,'track.pkl'),'wb') as f:
        pickle.dump([data,properties,graph],f)

[INFO][2021/09/21 02:12:42 PM] Loaded btrack: C:\ProgramData\Anaconda3\envs\cellpose\lib\site-packages\btrack\libs\libtracker.DLL
[INFO][2021/09/21 02:12:42 PM] btrack (v0.4.1) library imported
[INFO][2021/09/21 02:12:42 PM] Setting max XYZ search radius to: 100
[INFO][2021/09/21 02:12:42 PM] Starting BayesianTracker session
[INFO][2021/09/21 02:12:42 PM] Loading configuration file: cell_config.json
[INFO][2021/09/21 02:12:42 PM] Loading motion model: b'cell_motion'
[INFO][2021/09/21 02:12:42 PM] Objects are of type: <class 'pandas.core.frame.DataFrame'>
[INFO][2021/09/21 02:12:42 PM] Set volume to ((0, 1946), (0, 1946), (-100000.0, 100000.0))
[INFO][2021/09/21 02:12:42 PM] Starting tracking...
[INFO][2021/09/21 02:12:42 PM] Tracking objects in frames 0 to 5 (of 5)...
[INFO][2021/09/21 02:12:42 PM]  - Timing (Bayesian updates: 23.00ms, Linking: 1.00ms)
[INFO][2021/09/21 02:12:42 PM]  - Probabilities (Link: 0.99998, Lost: 1.00000)
[INFO][2021/09/21 02:12:42 PM] SUCCESS.
[INFO][2021/09/21 02:12:42 PM]  - Found 235 tracks in 5 frames (in 0.0s)
[INFO][2021/09/21 02:12:42 PM]  - Inserted 15 dummy objects to fill tracking gaps
[INFO][2021/09/21 02:12:42 PM] Loading hypothesis model: cell_hypothesis
[INFO][2021/09/21 02:12:42 PM] Calculating hypotheses (relax: True)...
[INFO][2021/09/21 02:12:42 PM] Setting up constraints matrix for global optimisation...
[INFO][2021/09/21 02:12:42 PM] Optimizing...
[INFO][2021/09/21 02:12:42 PM] Optimization complete. (Solution: optimal)
[INFO][2021/09/21 02:12:42 PM]  - Fates.FALSE_POSITIVE: 0 (of 235)
[INFO][2021/09/21 02:12:42 PM]  - Fates.LINK: 5 (of 20)
[INFO][2021/09/21 02:12:42 PM]  - Fates.DIVIDE: 3 (of 3)
[INFO][2021/09/21 02:12:42 PM]  - Fates.INITIALIZE_FRONT: 224 (of 235)
[INFO][2021/09/21 02:12:42 PM]  - Fates.TERMINATE_BACK: 227 (of 235)
[INFO][2021/09/21 02:12:42 PM]  - TOTAL: 728 hypotheses
[INFO][2021/09/21 02:12:42 PM] Completed optimization with 230 tracks
[INFO][2021/09/21 02:12:42 PM] Ending BayesianTracker session

## Merging objects and tracking information

In [29]:
trackDataAll = pd.DataFrame(data,columns=['track_id','t','x','y'])
trackDataAll['parent'] = properties['parent']
trackDataAll['generation'] = properties['generation']
trackDataAll['root'] = properties['root']

In [30]:
len(trackDataAll)

869

In [31]:
trackDataAll

     track_id    t            x            y  parent  generation  root
0         1.0  0.0  1207.527638  1111.087102       1           0     1
1         1.0  1.0  1208.290188  1114.509395       1           0     1
2         1.0  2.0  1206.088795  1117.568710       1           0     1
3         1.0  3.0  1202.477083  1119.547917       1           0     1
4         1.0  4.0  1195.853081  1129.362559       1           0     1
..        ...  ...          ...          ...     ...         ...   ...
864     228.0  4.0   517.529158   463.946004     228           0   228
865     229.0  4.0   347.748111  1131.609572     119           1   119
866     230.0  4.0   389.553223  1139.931034     119           1   119
867     231.0  4.0   433.086093   520.114238     231           0   231
868     232.0  4.0   438.336283   452.741150     232           0   232

[869 rows x 7 columns]

In [32]:
allData = pd.merge(left=data_df,right=trackDataAll,left_on=['centroid-0','centroid-1','t'],right_on=['x','y','t'],how='left')

In [33]:
print(f'Number of all objects: {len(allData)}')

Number of all objects: 855

In [34]:
allData.head()

,label,area,centroid-0,centroid-1,orientation,major_axis_length,minor_axis_length,bbox-0,bbox-1,bbox-2,...,mean_intensity-1_ring,mean_intensity-2_ring,size_x,size_y,track_id,x,y,parent,generation,root
0,3,816,22.424020,31.230392,-1.161169,38.170831,27.296608,8,14,38,...,107.263844,498.511401,1946,1946,74.0,22.424020,31.230392,74.0,0.0,74.0
1,4,940,23.018085,637.489362,-0.895162,35.952933,33.524979,6,620,42,...,108.236842,602.133333,1946,1946,87.0,23.018085,637.489362,87.0,0.0,87.0
2,5,1074,25.972998,317.390130,1.050032,41.974158,32.628584,9,298,44,...,109.533824,898.970588,1946,1946,124.0,25.972998,317.390130,124.0,0.0,124.0
3,6,480,34.918750,671.750000,0.588385,31.032800,19.765957,22,660,50,...,110.899061,536.612676,1946,1946,125.0,34.918750,671.750000,125.0,0.0,125.0
4,7,666,37.575075,1267.582583,0.509866,33.703794,25.211162,22,1255,54,...,106.761141,509.074866,1946,1946,126.0,37.575075,1267.582583,126.0,0.0,126.0

## Define promising tracks

In [41]:
allData['accepted'] = False
allData['rejected'] = False
allData['promise'] = False

# mark tracks longer than 100 as promising
tracks_set = set(allData.track_id)

for track in tracks_set:
    
    track_len = np.sum(allData.track_id==track)
    
    if (track_len>1):
        
        allData.loc[allData.track_id==track,'promise'] = True

In [42]:
# save df
allData.to_pickle(os.path.join(df_dir,df_name))
allData.to_csv(os.path.join(df_dir,df_name.replace('pkl','csv')),index=False)